<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <a (click)="goback()" style="color: #606c70">
      <ion-icon name="return-down-back-outline" style="width: 30px; height: 30px;"></ion-icon>
      BACK
    </a>
    <a style="color: #606c70; float: right; margin-right: 3%;">
      <ion-icon name="ellipsis-horizontal" style="width: 30px; height: 30px;"></ion-icon>
    </a>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="signOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row *ngFor="let message of messages | async">
    <ion-col size="9" class="message"
             [offset]="message.myMsg ? 3 : 0"
             [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
      <b>{{ message.fromName }}</b><br>
      <span>{{ message.msg }}
        </span>
      <div class="time ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
    </ion-col>
  </ion-row>


</ion-content>

<ion-footer>
  <ion-toolbar color=#606c70>
    <ion-row class="ion-align-items-center">
      <ion-col size="11">
        <ion-textarea placeholder="輸入文字" autoGrow="true" class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg" >
        </ion-textarea>
      </ion-col>
      <ion-col size="1">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"
                    class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
